.image {
  width: 150px;
  height: 150px;
}

.home-container {
  text-align: center;
  font-family: Arial, sans-serif;
  margin-top: 50px;
}

.home-title {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 20px;
}

.home-link {
  margin: 10px;
  padding: 10px 20px;
  font-size: 1.2rem;
  color: white;
  background-color: #007BFF;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.home-link:hover {
  background-color: #0056b3;
}

.form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-label {
  font-size: 14px;
  margin-bottom: 5px;
  color: #555;
}

.form-input, .form-textarea {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-input:focus, .form-textarea:focus {
  border-color: #007BFF;
  outline: none;
}

.form-textarea {
  resize: vertical;
  min-height: 100px;
}

.form-button {
  padding: 10px 15px;
  font-size: 16px;
  color: #fff;
  background-color: #007BFF;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.form-message {
  text-align: center;
  font-size: 14px;
  color: #d9534f;
}

.list-search-container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.list-search-title {
  text-align: center;
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

.list-search-form {
  margin-bottom: 20px;
  text-align: center;
}

.list-search-input {
  width: 80%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.list-search-list {
  list-style-type: none;
  padding: 0;
}

.list-search-item {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fdfdfd;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.list-search-item-title {
  margin: 0 0 10px;
  color: #555;
  font-size: 18px;
}

.list-search-item-info {
  margin: 5px 0;
  color: #666;
  font-size: 14px;
}

.list-search-item-image {
  display: block;
  max-width: 150px;
  height: auto;
  margin-top: 10px;
  border-radius: 4px;
}